*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}





/* ==================== CSS Variables ==================== */
:root{
    --main-color: #e3e2df;
    --second-color: #000;
    --third-color: #9a1750;
}





header{
    position: fixed;
    top: 0;
    left: 0;

    /*  */
    width: 100%;
    height: 7rem;
    /*  */

    background-color: var(--main-color);
    z-index: 1;
    transition: 0.5s;
}
header.scroll{
    position: fixed;
    top: -7rem;
    left: 0;

    /*  */
    width: 100%;
    height: 7rem;
    /*  */
    
    background-color: var(--main-color);
    z-index: 1;
    transition: 0.5s;
}


.logo{
    position: absolute;

    /*  */
    left: 10%;
    bottom: 1rem;
    /*  */

    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--second-color);
}


nav{
    position: absolute;

    /*  */
    left: 30%;
    bottom: 1rem;
    width: 60%;
    /*  */
}
nav ul{
    display: flex;

    /*  */
    /* You can add flex direction */
    list-style: none;
    justify-content: space-around;
    /*  */

}
nav ul li{
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: var(--second-color);
    text-transform: uppercase;
    font-size: 0.9rem;
}
nav ul li .bottom-line::after{
    /* I don't know how this all works but it works I guess */
    content: "";
    display: flex;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--second-color);
    transition: width 0.3s;
}
nav ul li .bottom-line:hover::after{
    width: 100%;
    transition: width 0.3s ease-in;
}
nav ul li .top-line::after{
    content: "";
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 1px;
    background: var(--second-color);
    /* transition: width 0.3s ease; */
}
nav ul li .top-line:hover::after{
    width: 100%;

}





.one{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--main-color);
}

.container{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 50%;
}

h1{
    margin-bottom: 1rem;
    color: var(--third-color);
    font-size: 2rem;
}

.two{
    position: absolute;
    top: 100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--third-color);
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}
.box.active{
    /* background-color: gray; */
}





.pseudo-border-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #000;
    transition: width 0.3s;
}
.box.active .pseudo-border-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #000;
    transition: width 0.3s ease-in;
}


.pseudo-border-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background-color: #000;
    transition: height 0.3s;
}
.box.active .pseudo-border-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: #000;
    transition:height 0.2s linear 0.3s;
}


.pseudo-border-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 5px;
    background-color: #000;
    transition: width 0.3s;
}
.box.active .pseudo-border-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: #000;
    transition: width 0.2s linear 0.5s;
}



.pseudo-border-left{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 0;
    background-color: #000;
    transition: height 0.3s;
}
.box.active .pseudo-border-left{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #000;
    transition: height 0.3s ease-out;
    transition-delay: 0.7s;
}